<div data-role="view" data-title="Details" data-model="app.search.searchModel" data-bind="events: { show: detailsShow }" id="searchModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['Type']"></span>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <h3 data-bind="text: currentItem.Name"></h3></li>
                <li>
                    <div data-bind="html: currentItem.Scientific_Name"></div>
                </li>
                <li><img data-bind="attr: { src: currentItem.Image }" width="100%" height="auto"></li>
                <li class="detail-content-item">


                    <label id="overviewField" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.search.searchModel.editableListForm1.overview.title"></span>


                        <div class="textBlock field__content" data-bind="html: currentItem.Overview"></div>

                    </label>


                </li>
                <li class="detail-content-item">


                    <label id="identificationField" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.search.searchModel.editableListForm1.identification.title"></span>


                        <div class="textBlock field__content" data-bind="html: currentItem.Identification"></div>

                    </label>


                </li>
                <li class="detail-content-item">


                    <label id="habitatField" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.search.searchModel.editableListForm1.habitat.title"></span>


                        <div class="textBlock field__content" data-bind="html: currentItem.Habitat"></div>

                    </label>


                </li>
                <li class="detail-content-item">


                    <label id="referencesField" class="km-label-above field field--text-block">

                        <span class="field__label" data-bind="text: strings.search.searchModel.editableListForm1.references.title"></span>


                        <div class="textBlock field__content" data-bind="html: currentItem.References"></div>

                    </label>


                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_searchModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_searchModel -->
</div>