<div data-role="view" data-title="View" data-layout="main" data-model="app.detailPageView" data-show="app.detailPageView.onShow" data-after-show="app.detailPageView.afterShow" id="detailPageViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.detailPageView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_detailPageView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_detailPageView -->
    <form class="km-filter-form custom-filter">

        <div class="km-filter-wrap">
            <input type="search" placeholder="Search..." data-bind="events:{keyup: detailPageViewModel.searchChange}">
        </div>
    </form>
    <ul class="masterDetailView" data-role="listview" data-auto-bind="false" data-style="inset" data-template="detailPageViewModelTemplate" data-bind="source: detailPageViewModel.dataSource, events: {click: detailPageViewModel.itemClick}" data-pull-to-refresh="false"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_detailPageViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_detailPageViewModel -->
    <script type="text/x-kendo-template" id="detailPageViewModelTemplate">
        <div class="image-with-text">
            # data = app.detailPageView.detailPageViewModel.fixHierarchicalData(data); #

            <h3>#: data['Name'] #</h3>

        </div>
    </script>
</div>