<div id="<%= name %>">
    <!-- START_CUSTOM_CODE_<%= name %> -->
    <div data-role="view" data-title="Main Menu" data-layout="main-nonav">
        <ul id="navigation-container" data-role="listview" data-style="inset">
            <li>
                <a href="components/search/viewSearch.html" data-icon="search">Search</a>
            </li>
            <li>
                <a href="components/database/viewDatabase.html" data-icon="organize">Database</a>
            </li>
            <li>
                <a href="components/about/viewAbout.html" data-icon="info">About the Team</a>
            </li>
        </ul>
        <p> <img src="components/NatApp_Logo.png" width="100%" height="100%"> </p>
    </div>
    <!-- END_CUSTOM_CODE_<%= name %> -->
</div>
