<div data-role="view" data-title="Edit" data-model="app.<%= parent %>.editItemViewModel" data-bind="events: { show: onShow }" id="<%= name %>EditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: <% if (editScreenHeaderSource === 'dataBound') { %>itemData['<%= editScreenHeaderField %>']<% } %><% if (editScreenHeaderSource === 'static' && typeof editScreenHeaderValue !== 'undefined') { %><%= editScreenHeaderValue %><% } %>"></span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_<%= name %> -->
    <!-- END_CUSTOM_CODE_<%= name %> -->
</div>
